.btn-darklight {
  color: #131313;
  cursor: pointer;
  background-color: transparent;
  backdrop-filter: none;
  -webkit-backdrop-filter: none;
  border: none;
  border-radius: 0;
  outline: none;
  justify-content: center;
  align-items: center;
  padding: 0;
  display: flex;
  position: relative;
  z-index: 1;
  overflow: visible;
  box-shadow: none;
  transition: color 0.4s cubic-bezier(0.35, 1, 0.6, 1);
  overflow: hidden;
}

.btn-darklight:focus-visible {
  outline: 2px solid currentColor;
  outline-offset: 2px;
}

/* Invert icon color in dark mode */
:global([data-theme-status="dark"]) .btn-darklight {
  color: #ffffff;
  background-color: transparent;
  border: none;
  box-shadow: none;
}

.btn-darklight__icon {
  width: 1.25em;
  height: 100%;
  margin-right: 0;
  position: relative;
}

.btn-darklight__word {
  position: relative;
}

.btn-darklight__word-p {
  margin-top: 0.05em;
  margin-bottom: 0;
  line-height: 1.2;
  position: relative;
}

.btn-darklight__word-p.is--absolute {
  opacity: 0;
  letter-spacing: 0.025em;
  position: absolute;
  top: 0;
}

.btn-darklight__icon-box {
  height: 100%;
  padding-top: 0.66em;
  padding-bottom: 0.66em;
  display: flex;
  position: relative;
}

.btn-darklight__icon-box.is--absolute {
  position: absolute;
}

/* Button Word */
:global([data-theme-status="dark"])
  .btn-darklight
  .btn-darklight__word
  .btn-darklight__word-p,
:global([data-theme-status="light"])
  .btn-darklight
  .btn-darklight__word
  .btn-darklight__word-p.is--absolute {
  opacity: 0;
}

:global([data-theme-status="light"])
  .btn-darklight
  .btn-darklight__word
  .btn-darklight__word-p,
:global([data-theme-status="dark"])
  .btn-darklight
  .btn-darklight__word
  .btn-darklight__word-p.is--absolute {
  opacity: 1;
}

/* Button Icon */
.btn-darklight .btn-darklight__icon-box {
  transition: transform 0.8s cubic-bezier(0.35, 1.5, 0.6, 1);
  transform: translateY(0%) rotate(-90deg);
}

:global([data-theme-status="dark"]) .btn-darklight .btn-darklight__icon-box {
  transform: translateY(-100%) rotate(0.001deg);
}
