.transition {
  z-index: 100;
  background-color: var(--theme-text);
  grid-template-columns: repeat(20, 1fr);
  width: 100%;
  height: 100vh;
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.transitionBlock {
  aspect-ratio: 1 / 1;
  background-color: var(--theme-text);
  width: 100%;
}

@media screen and (max-width: 767px) {
  .transition {
    grid-template-columns: repeat(15, 1fr);
  }
}

@media screen and (max-width: 479px) {
  .transition {
    grid-template-columns: repeat(10, 1fr);
  }
}
