.transition {
  z-index: 100;
  background-color: var(--transition-color, var(--theme-bg));
  grid-template-columns: repeat(8, 1fr);
  width: 100%;
  height: 100vh;
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.transitionBlock {
  aspect-ratio: 1;
  background-color: var(--transition-color, var(--theme-bg));
  width: 100%;
}

@media screen and (max-width: 767px) {
  .transition {
    grid-template-columns: repeat(6, 1fr);
  }
}

@media screen and (max-width: 479px) {
  .transition {
    grid-template-columns: repeat(4, 1fr);
  }
}

