.hero__wrapper {
  position: relative;
  overflow: hidden;
}

.hero__header {
  grid-column-gap: 3em;
  grid-row-gap: 3em;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  padding: 25vh 5vw 20vh;
  display: flex;
  position: relative;
}

.hero__h1 {
  text-align: center;
  max-width: 9em;
  margin-top: 0;
  margin-bottom: 0.25em;
  font-size: 10em;
  font-weight: 500;
  line-height: 1;
  color: var(--theme-text);
}

.hero__eyebrow {
  color: var(--nav-label);
  text-transform: uppercase;
  font-size: 1.5em;
  font-weight: 400;
  letter-spacing: 0.1em;
  font-family: var(--font-instrument-sans), Arial, sans-serif;
}

.hero__caption {
  text-align: center;
  margin-top: 0;
  margin-bottom: 0;
  font-size: 3em;
  font-weight: 500;
  line-height: 1;
  color: var(--theme-text);
}

.hero__video {
  grid-column-gap: 25vh;
  grid-row-gap: 25vh;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  padding-bottom: 25vh;
  padding-left: 5vw;
  padding-right: 5vw;
  display: flex;
  position: relative;
}

.hero__bigBox {
  border-radius: 0.25em;
  width: 100%;
  position: relative;
}

.hero__smallBox {
  border-radius: 0.25em;
  width: 28em;
  position: relative;
}

.hero__flipWrapper {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}

.hero__scaling {
  will-change: transform;
  background-color: var(--theme-bg);
  border-radius: 0.25em;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  display: flex;
  position: absolute;
  top: 0;
  left: 0;
  overflow: hidden;
  isolation: isolate;
}

.hero__before {
  padding-top: 56.25%;
}

.hero__image {
  object-fit: cover;
  width: 100%;
  height: 100%;
  padding-bottom: 0;
  padding-right: 0;
  position: absolute;
  border-radius: inherit;
}

@media screen and (max-width: 767px) {
  .hero__h1 {
    font-size: 15vw;
  }

  .hero__eyebrow {
    font-size: 1.25em;
  }

  .hero__caption {
    font-size: 8vw;
  }

  .hero__smallBox {
    width: 20em;
  }
}

