.footer__wrap {
  position: relative;
  overflow: hidden;
}

.footer {
  grid-column-gap: 7.5em;
  grid-row-gap: 7.5em;
  letter-spacing: -0.02em;
  flex-flow: column;
  justify-content: space-between;
  min-height: 100svh;
  padding-top: calc(var(--size-font) * 2.5);
  padding-bottom: calc(var(--size-font) * 2.5);
  font-weight: 600;
  display: flex;
  position: relative;
  color: var(--theme-text);
  border-top: 1px solid rgba(32, 29, 29, 0.15);
  transition: color 0.4s cubic-bezier(0.35, 1, 0.6, 1);
}

.footer__container {
  width: 100%;
  display: flex;
  flex-flow: column;
  justify-content: space-between;
  grid-column-gap: 7.5em;
  grid-row-gap: 7.5em;
}

:global([data-theme-status="dark"]) .footer {
  border-top-color: rgba(255, 255, 255, 0.15);
}

.footer__linksRow {
  grid-column-gap: 2.5em;
  grid-row-gap: 2.5em;
  display: flex;
}

.footer__logoRow {
  grid-column-gap: 1em;
  grid-row-gap: 1em;
  flex-flow: column;
  display: flex;
  align-items: center;
}

.footer__col {
  grid-column-gap: 3em;
  grid-row-gap: 3em;
  flex-flow: column;
  width: calc(33.3333% - 1.66667em);
  display: flex;
}

.footer__links {
  grid-column-gap: 0.25em;
  grid-row-gap: 0.25em;
  flex-flow: column;
  align-items: flex-start;
  display: flex;
}

.footer__a {
  color: inherit;
  font-size: 2.75em;
  line-height: 1;
  text-decoration: none;
}

.footer__eyebrow {
  opacity: 0.5;
  margin-bottom: 0;
  font-size: 1.3125em;
  font-weight: 600;
}

.footer__tagline {
  font-size: 4em;
  font-weight: 600;
  line-height: 1;
  margin: 0;
  letter-spacing: -0.03em;
}

.footer__dark {
  opacity: 0;
  pointer-events: none;
  background-color: #201d1d;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}

:global([data-theme-status="dark"]) .footer__dark {
  background-color: var(--dark-bg);
}

@media screen and (max-width: 991px) {
  .footer__linksRow {
    flex-flow: column;
  }

  .footer__logoRow {
    grid-column-gap: 1.5em;
    grid-row-gap: 1.5em;
  }

  .footer__col {
    width: 100%;
  }

  .footer__tagline {
    font-size: 3em;
  }
}

@media screen and (max-width: 767px) {
  .footer {
    grid-column-gap: 5em;
    grid-row-gap: 5em;
  }

  .footer__container {
    grid-column-gap: 5em;
    grid-row-gap: 5em;
  }

  .footer__eyebrow {
    font-size: 1em;
  }

  .footer__col {
    grid-column-gap: 1em;
    grid-row-gap: 1em;
  }

  .footer__a {
    font-size: 1.75em;
  }

  .footer__tagline {
    font-size: 2em;
  }
}
