.textDraw {
  position: relative;
  display: inline-block;
  padding-bottom: 0.625em;
}

.textDrawSpan {
  display: inline;
}

.textDrawBox {
  color: currentColor;
  width: 100%;
  height: 0.625em;
  position: absolute;
  bottom: 0.125em;
  left: 0;
}

.textDrawBoxSvg {
  width: 100%;
  height: 100%;
  position: absolute;
  overflow: visible !important;
}
