.loadingContainer {
  z-index: 500;
  pointer-events: none;
  position: fixed;
  inset: 0;
  overflow: hidden;
  opacity: 0;
  visibility: hidden;
}

.loadingScreen {
  pointer-events: auto;
  color: var(--theme-text);
  background-color: var(--theme-bg);
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  display: flex;
  position: absolute;
  top: 0;
  left: 0;
  transition: background-color 0.4s cubic-bezier(0.35, 1, 0.6, 1),
    color 0.4s cubic-bezier(0.35, 1, 0.6, 1);
}

.loadingWords {
  grid-column-gap: 2em;
  grid-row-gap: 2em;
  align-items: center;
  display: flex;
  opacity: 0;
}

.loadingWordsDot {
  background-color: var(--theme-text);
  border-radius: 50%;
  width: 0.75em;
  height: 0.75em;
  transition: background-color 0.4s cubic-bezier(0.35, 1, 0.6, 1);
}

.loadingWordsWord {
  font-size: 4.5em;
  font-weight: 500;
  line-height: 1;
  margin: 0;
}

@media screen and (max-width: 767px) {
  .loadingWords {
    font-size: 2.75vw;
  }
}

