.loader {
  z-index: 100;
  color: var(--theme-text);
  width: 100%;
  height: 100dvh;
  position: fixed;
  inset: 0% 0% auto;
  pointer-events: none;
}

.loader__bg {
  background-color: var(--theme-bg);
  width: 100%;
  height: 100%;
  position: absolute;
  inset: 0%;
  transition: background-color 0.4s cubic-bezier(0.35, 1, 0.6, 1);
}

.loader__container {
  z-index: 2;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  display: flex;
  position: relative;
}

.loader__bgBar {
  z-index: 1;
  transform-origin: 0%;
  transform-style: preserve-3d;
  background-color: var(--theme-text);
  width: 100%;
  height: 0.5em;
  position: absolute;
  inset: auto 0% 0%;
  transform: scale3d(0, 1, 1);
  transition: background-color 0.4s cubic-bezier(0.35, 1, 0.6, 1);
}

.loader__logoWrap {
  justify-content: center;
  align-items: center;
  width: 12em;
  height: 3em;
  display: flex;
  position: relative;
}

.loader__logoItem {
  width: 100%;
  position: absolute;
  text-align: center;
}

.loader__logoItem.is--base {
  opacity: 0.2;
}

.loader__logoItem.is--top {
  -webkit-clip-path: inset(0% 100% 0% 0%);
  clip-path: inset(0% 100% 0% 0%);
}

.loader__logoText {
  font-family: var(--font-bebas-neue);
  font-size: 4em;
  font-weight: 400;
  line-height: 1;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  white-space: nowrap;
  margin: 0;
  width: 100%;
  display: block;
}

.loader__textWrap {
  flex-flow: column;
  justify-content: center;
  align-items: center;
  display: flex;
  position: absolute;
  bottom: 3.5em;
}

.loader__textEl {
  text-transform: uppercase;
  white-space: nowrap;
  margin-bottom: -0.25em;
  padding-bottom: 0.25em;
  font-family: var(--font-instrument-sans);
  font-size: 0.875em;
  letter-spacing: 0.1em;
  position: absolute;
}

:global([data-load-reset]) {
  opacity: 0;
}

@media screen and (max-width: 767px) {
  .loader__logoText {
    font-size: 2.5em;
  }

  .loader__textEl {
    font-size: 0.75em;
  }
}
