.imgSlider {
  grid-column-gap: 1rem;
  grid-row-gap: 1rem;
  border-radius: 0.5em;
  justify-content: center;
  align-items: flex-end;
  width: 100%;
  height: 100vh;
  display: flex;
  position: relative;
}

.imgSliderList {
  grid-template-rows: 100%;
  grid-template-columns: 100%;
  place-items: center;
  width: 100%;
  height: 100%;
  display: grid;
  overflow: hidden;
}

.imgSlide {
  opacity: 0;
  pointer-events: none;
  will-change: transform, opacity;
  grid-area: 1 / 1 / -1 / -1;
  place-items: center;
  width: 100%;
  height: 100%;
  display: grid;
  position: relative;
  overflow: hidden;
}

.imgSlide.isCurrent {
  opacity: 1;
  pointer-events: auto;
}

.imgSlideInner {
  object-fit: cover;
  will-change: transform;
  width: 100%;
  height: 100%;
  position: absolute;
}

.progressBarWrap {
  z-index: 10;
  cursor: pointer;
  width: 100%;
  height: 0.5rem;
  transition: background-color 0.2s;
  position: fixed;
  inset: auto 0% 0%;
}

.progressBarWrap:hover {
  background-color: rgba(0, 0, 0, 0.05);
}

/* Dark mode hover */
:global([data-theme-status="dark"]) .progressBarWrap:hover {
  background-color: rgba(255, 255, 255, 0.05);
}

.progressBar {
  transform-origin: 0%;
  transform-style: preserve-3d;
  background-color: #c79b71;
  width: 100%;
  height: 100%;
  transform: scale3d(0, 1, 1);
  transition: background-color 0.4s cubic-bezier(0.35, 1, 0.6, 1);
}

@media screen and (max-width: 991px) {
  .imgSliderList {
    width: 100%;
  }

  .imgSliderThumb {
    flex: none;
  }
}

@media screen and (max-width: 767px) {
  .imgSliderNav {
    flex-flow: wrap;
  }

  .imgSliderThumb {
    border-radius: 0.25rem;
    width: 5rem;
  }
}

@media screen and (max-width: 479px) {
  .imgSliderThumb {
    width: 4.5rem;
  }
}
